/**
 ******************************************************************************
 * @file    stnp.h
 * @brief   STNP 用户唯一 include 入口。
 *
 * 应用侧仅需包含本头文件即可使用 Core、生成的 Module/Instance 与已选择 SDK 公共接口。
 ******************************************************************************
 */

#ifndef __STNP_H
#define __STNP_H

#include "stnp_core.h"
#include "stnp_frame.h"
#include "stnp_task.h"
#include "stnp_notify.h"
#include "stnp_router.h"
#include "stnp_codec.h"
#include "stnp_vtl.h"
{% if p.crc_enabled %}
#include "stnp_crc.h"
{% endif %}
#include "../Module/stnp_module.h"
{% for m in ir.modules %}#include "../Module/{{ m.dir_name }}/{{ m.snake }}.h"
{% endfor %}#include "../Instance/stnp_instances.h"
{% if "stm32_hal_uart" in ir.sdks %}#include "../SDK/STM32_HAL/stnp_hal_uart.h"
{% endif %}{% if "freertos" in ir.sdks %}#include "../SDK/FreeRTOS/stnp_freertos.h"
{% endif %}
#endif /* __STNP_H */
